@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-teal-forest: #174E4F;
  --color-vanilla-latte: #F3E5C3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
}

/* Hide scrollbar for all browsers and elements */
* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important;  /* Chrome, Safari and Opera */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes subtle-zoom {
  from { transform: scale(1.05); }
  to { transform: scale(1); }
}

.animate-subtle-zoom {
  animation: subtle-zoom 10s ease-out forwards;
}